html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}
.jumbotron {
  background-color: #1A2129;
  color: #9AD3F4;
}

.jumbotron .text-muted {
  color: #9AD3F4;
}
